.organization {
    display: flex;
    flex-direction: column;

    .main {
        flex: 1;
        background-color: white;

        .updatePanel {
            height: 100px;
            margin: 10px;
            padding: 10px;
            display: flex;
        }

        .orgaUserPanel {
            display: flex;
            background-color: violet;
            height: 30px;
            margin: 10px;
            padding: 10px;
        }
    }
}