.iduDataGrid{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:500px;
    .controlBar{
        display: flex;
        align-items: center;
        background-color: rgb(51, 17, 126);
        height: 30px;
        span{
            color: white;
            margin: 10px;
            font-weight: 600;
        }
    }
}