.iduDataGrid{
    display: flex;
    flex-direction: column;
    margin:10px;
    width: 100%;
    .controlBar{
        display: flex;
        align-items: center;
        background-color: rgb(51, 17, 126);
        height: 30px;
        span{
            color: white;
            margin: 20px;
            font-weight: 500;
        }
        .title{

        }
    }
}